body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

.clear {
    clear: both;
}
/*DIV PRINCIPAL PARA CENTRALIZAR */
#container {
    background-color: #ccc;
    width: 900px;
    height: auto;
    margin: 0 auto;
}
/*TOPO DA PAGINA*/
header {
    background-color: #bbb;
    width: 100%;
    height: 80px;
}

    header img {
        height: 60px;
        margin: 10px;
        border: 2px solid #fff;
    }
/*BARRA DE NAVEGAÇÃO (MENU) */
nav {
    background-color: #999;
    width: 100%;
    height: 30px;
}

    nav div {
        width: 120px;
        margin: 3px;
        float: left;
        border-right: solid 2px black;
        text-align: center;
        cursor: pointer;
        font-size: 16px;
    }

        nav div:hover {
            background-color: #60a6ea;
            color: white;
            cursor: pointer;
            font-size: 18px,;
            font-weight: bold;
        }

        nav div a {
            text-decoration: none;
        }
/*CONTEUDO PRINCIPAL*/
section {
    background-color: #eee;
    width: 100%;
    height: 500px;
}

#progress {
    display: none;
    background-color: #CCC;
    position: absolute;
    left: 50%;
    top: 50%;
    
}

.voltar {
    text-decoration: none;
    
    background-color: green;
    font-weight: bold;
    color: #FFF;
    width: 60px;
    height: auto;
    text-align: center;
}

.novo {
     text-decoration: none;
}

a {
     text-decoration: none;
}
/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
